<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<div style="background-color:#efefef; color:black;">

<p><a href="/layouts/home.html">Home </a>| <a href="layouts/products">Products </a> | <a href="/user">Login </a> </p>
</div>
<%= stylesheet_link_tag 'scaffold', 'depot' %>
</head>


