<h2>Login</h2>

<form action="welcome/index" method="post">
<label for="un">Username&nbsp;</label>
<input id="un" name="un" type="text" /><br>
<label for="psword">Password&nbsp;</label>
<input id="psword" name="psword" type="password" /><br>
<input name="commit" type="submit" value="Login" />
</form>