<h2>Sign up</h2>

<form action="./login" method="post">
<label for="fn">First Name</label>
<input id="fn" name="fn" type="text" /><br>	
<label for="ln">Last Name</label>
<input id="ln" name="ln" type="text" /><br>	
<label for="email">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<input id="email" name="email" type="text" /><br>
<label for="un">Username&nbsp;</label>
<input id="un" name="un" type="text" /><br>
<label for="psword">Password&nbsp;</label>
<input id="psword" name="psword" type="password" /><br>
<label for="cpsword">Confirm Password&nbsp;</label>
<input id="cpsword" name="cpsword" type="password" /><br>
<input name="commit" type="submit" value="Sign up" />
</form>