<div class="center hero-unit">
 <h1>About books Online</h1> 
 <h2> This is about us </h2> 
 

 </div>

<p>We will be selling hard and soft copy books. The hard copy books will be a variety of New and Used books. 

<h3>OBJECTIVES</h3>

<p> online books stores are available on the net; our main goal is to make shopping experience easier for our consumers.</p>
<ul>
<li>To provide easy navigation to users with different online shopping experiences.</li>
<li>Provide Students with affordable books.</li>
<li>To make reading appealing to customers.</li>
<li>To make online shopping feel safe and secured to customers. </li>
</ul>